body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

header {
    background-image: url("images/banner.jpg");
    background-repeat: no-repeat;
    background-size:1600px 800px;
    background-position: center;
    height: 80vh;
    text-align: center;
    line-height: 80vh;
}

header h1{
    display: inline-block;
    color: white;    
    vertical-align: middle;
    line-height: normal;
    font-size: 6em;
}

/*
nav {
    background-color: red;
}
*/

nav ul {
    margin-top: 15px;
    height: 25px;
    /*
    background-color: brown;
    */
    display: flex;
    place-items: center;
    margin: auto;
    text-align: center;
}

nav ul li {
    /*
    background-color: blue;
    */
    list-style-type: none;
    display: inline-block;
    width: 19%;
}

nav ul li a {
    transition-duration: .5s;
    color: white;
    text-decoration: none;
    /*
    background-color: green;
    */
}
nav ul li a:hover {
    transition-duration: .5s;
    color: black;
    text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
}
h2 {
    text-align: center;
}

section {
    padding-top: 30px;
}

article {
    width: 90%;
    /*
    background-color: blue;
    */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.left-container {
    /*
    background-color: pink;
    */
    width: 40%;
    padding: 5px;
}

.right-container {
    /*
    background-color: pink;
    */
    width: 40%;
    padding: 5px;
}

article div img{
    width: 100%;
}

#section-2 {
    text-align: center;
}

#section-2 p {
    padding-top: 50px;
}

@media screen and (max-width: 600px) {
    /*
    body {
        background-color: lightgreen;
    }
    */
    
    .left-container {
        width: 80%;
    }

    .right-container {
        width: 80%;
    }

    article {
        flex-direction: column;
    }
    
    nav ul {
        flex-direction: column;
        height: 125px;
    }

    nav ul li {
        width: 100%;
    }
}
